[Unit]
Description=Envoy2MQTT Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={WorkingDirectory}
Environment=PATH={WorkingDirectory}/venv/bin
Environment=PYTHONPATH={WorkingDirectory}
ExecStart={WorkingDirectory}/venv/bin/python {WorkingDirectory}/src/main.py
Restart=always
RestartSec=10

# Logs
StandardOutput=journal
StandardError=journal
SyslogIdentifier=envoy2mqtt

[Install]
WantedBy=multi-user.target
