# Fichiers de configuration avec informations sensibles
.env
config.py

# Environnement virtuel Python
venv/
env/

# Scripts générés par l'installation
run.sh
uninstall.sh

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log

# Fichiers temporaires
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-*

# Backup files
*.bak
*.backup
node-red-flux(sample)
code-plugin-ha
debug
